.App {
    display: initial;
    flex-direction: initial;
    align-items: initial;
    justify-content: initial;
    background-color: initial;
}

body {
    margin: initial;
    font-family: initial;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

form {
    width: 50%;
    margin: auto;
    margin-top: 32px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: 16px;
}

input {
    margin: 8px;
    margin-right: 0px;
    height: 40px;
    width: 320px;
}

button {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 8px;
    width: 94%;
    margin: 16px;
}

a {
    position: fixed;
    font-size: 32px;
}