.DisplayVehicleSection {
    background-color: #212929;
    font-family: Arial, Helvetica, sans-serif;
    height: 720px;
}

.DisplayVehicleSection > header {
    color: white;
    position: fixed;
    font-size: 16px;
}

.DisplayVehicleSection > header > a {
    color: white;
    font-size: 32px;
}

.DisplayVehicleSection > header > form > table {
    border-bottom: 1px solid white;
}

.DisplayVehicleSection > header > form > table > tbody > tr > td > button {
    color: #212929;
    border: none;
    background-color: white;
    border-radius: 8px;
    float: right;
}

.DisplayVehicleSection > h1 {
    color: white;
    text-align: center;
    font-size: 64px;
}

.DisplayVehicleSection > main {
    background-color: #212929;
}

.DisplayVehicleSection > main > section {
    background-color: #212929;
    border: 1px solid white;
    border-radius: 8px;
    width: 50%;
    margin: auto;
    padding: 8px;
    margin-top: 32px;
}

.DisplayVehicleSection > main > section > img {
    width: 100px;
    height: 100px;
    margin: 4px;
}

.DisplayVehicleSection > main > section > table {
    color: white;
    display: inline;
    vertical-align: top;
    border: none;
}

.DisplayVehicleSection > main > section > table > tr {
    border-bottom: 1px solid white;
}

.DisplayVehicleSection > main > section > table > tr:last-child {
    border-bottom: none;
}

.DisplayVehicleSection > main > section > table > tr > td {
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;  
    margin: 8px;
    border: none;
}