.reports-form > div:nth-of-type(2) {
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
}

.reports-form > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin: 0.25em;
}

.reports-form > div:nth-of-type(2) > div > div {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
}

.reports-form > div:nth-of-type(2) > div > div:nth-of-type(1) {
    margin-left: 0;
    flex: 1 1 30%;
}

.reports-form > div:nth-of-type(2) > div > div:nth-of-type(2) {
    flex: 1 1 20%;
}

.reports-form > div:nth-of-type(2) > div > div:nth-of-type(3) {
    margin-right: 0;
    flex: 1 1 50%;
}

.reports-form > div:nth-of-type(2) > button {
    width: fit-content;
    margin: 0.5em 0;
    color: rgb(133, 133, 133);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.reports-form > textarea,
.reports-form > div:nth-of-type(2) > div > div > select,
.reports-form > div:nth-of-type(2) > div > div > input {
    font-size: 15px;
    height: 2.5rem;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 15px;
    background-color: #3a3c3e;
    color: white;
    outline: none;
    border: 1px solid black;
}