/* Collapsible Items - Questions */
/* .Collapsible:first-of-type {
    margin-top: 1em;
}

.Collapsible {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    font-size: 1.5em;
    background-color: white;
    border-color: black;
}

.Collapsible:last-of-type {
    border-bottom: 1px solid #E6E6E6;
    border-color: black;
}

.Collapsible__trigger {
    margin: 0.5em;
}

.Collapsible__contentInner {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.5em;
    border-top: 1px solid #E6E6E6;
    background-color: white;
} */

/* FAQ Display */
#faq-container{
    background-color: black;
    display:flex;
    height:100vh;
    align-items: center; 
    justify-content: center;
}

#faq-content{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:30px;
    height: 60%; 
    width:90%; /* Adjusts the how far apart*/
    border-bottom: 3px solid white
}

#faq-imagecontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 45%;
}
#faq-image{
    flex: 1;
    padding: 50px;
    max-height:100%;
    max-width: 100%;
    object-fit: contain;
}

#faq-section{
    position: relative;
    width: 50%;
}

#faq-section h3{
    color:white;
    width:80%;
    padding-left:50px;
    display:flex;
    flex-direction: column;
}

#faq-section > li{
    padding-left:50px;
    color: white;
    width:90%;
    display:flex;
    flex-direction: column;
}

#faq-section .icon {
    position:fixed;
}


