body{
    background-color: black;
}
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.instrument-sans {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.garamond {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
.alex-brush {
    font-family: "Alex Brush", cursive;
    font-weight: 300;
    font-style: normal;
}
.header{
    font-size: 3.5em;
    font-weight: 300;
    color:white;
}

.paragraph{
    font-size: 1.5em;
    font-weight: 300;
    color:	white;
    opacity: 0;
}
.paragraph-noanim{
    font-size: 1.5em;
    font-weight: 300;
    color:	white;
}
.App > section {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    border: 1px solid black; /* to be removed after adding snapping to each section */
}

.App > section h1 {
    font-size: 3.5em;
}