.portal-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 100vh;
    background-color: #7b0202;
}

.portal-sidebar > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.portal-sidebar > div > header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 20px;
    color: white;
    user-select: none;
}

.portal-sidebar > div > div:first-of-type {
    border-top: 2px solid #4c0202;
}

.portal-sidebar > div > button,
.portal-sidebar > div > div {
    width: 100%;
    height: 35px;
    margin: 0;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    text-align: left;
    background-color: transparent;
    user-select: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.portal-sidebar > div > div {
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    user-select: none;
    background-color: #4c0202;
}

.portal-sidebar > div > button {
    padding-left: 2.5em;
    background-color: #7b0202;
}   

.portal-sidebar > div > button.selected {
    background: none;
    background-color: #640202;
}

.portal-sidebar > div > button:hover {
    color: rgba(255, 255, 255, 0.75);
    background-position: left;
}

.portal-sidebar > button {
    height: 50px;
    background-color: #4c0202;
    margin: 1em;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}

.adminItems {
    visibility: hidden;
}