.navbar-nav {
    display: inline-block;
}
.navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
}
#logo, #header-sidebar-toggle{
    transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
#main-navbar {
    opacity: 0.8;
    background-color: #7b0202;
    border-bottom: 1px solid #71706e;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.header-sidebar-title{
    font-size: 2em;
    color:white;
    font-weight:300;
}
.header-sidebar-subtitle{
    font-size: 1em;
    font-weight:300;
    color:white;
}
.header-sidebar{
    float:right;
    list-style-type: none;
}
.navbar>.container-fluid{
    display:block !important;
}
a.nav-link{
    color: ghostwhite;
    font-weight:bolder;
}

.nav-item{
    
    display:inline-block;
}
.nav-item:nth-child(n+2){
   padding-left:8vw;
}

.navbar-nav .nav-link{
    color:white;
}

.navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75); /* Adjust link color on hover */
}

.logo-img{
    max-width: 10vw;
    max-height: auto;
}

