.vehicles-form {
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.vehicles-form > h3 {
    width: 100%;
    margin: 0;
    margin-top: 0.5em;
    font-size: 20px;
}

.vehicles-form > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.vehicles-form > div:first-of-type > div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 0.5em);
    flex-grow: 1;
    margin: 0.25em;
}

.vehicles-form > div > div:first-of-type {
    flex-basis: calc(100% - 0.5em);
}

.vehicles-form > div > div > input {
    font-size: 15px;
}

.vehicles-form > div > div > input {
    height: 2.5rem;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 15px;
    background-color: #3a3c3e;
    color: white;
    outline: none;
    border: 1px solid black;
}

.vehicles-form > button {
    width: 10em;
    height: 3em;
    background-color: #7b0202;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.vehicles-form > label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7.5em;
    margin: 1em;
    border: dotted 5px grey;
    font-size: 20px;
}

.vehicles-form .images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
}

.vehicles-form .images-container div {
    width: 100%;
    height: fit-content;
    color: rgb(133, 133, 133);
}